<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOLFx: IT Company</title>
    <link rel="icon" type="image/x-icon" href="{%if setting.favicon%}{{setting.favicon.url|default_if_none:''|default:''}}{%endif%}">
    {%load static%}

    {{setting.global_head|safe}}

    {%if local_head%}
        {{local_head.head|safe}}
    {%endif%}

    {%include 'web/dependencies.html'%}
</head>

<body>
    <header>
        <div class="left">
            <div class="logo">
                <img src="{% static 'web/img/logo.png' %}" alt="logo" >
            </div>
        </div>
        <div class="middle">
            <nav>
                <ul>
                    <a href="">
                        <li>Home</li>
                    </a>
                    <a href="">
                        <li>About</li>
                    </a>
                    <a href="">
                        <li>Services</li>
                    </a>
                    <a href="">
                        <li>Work</li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="contact-us-button" >
                <div>Contact Us</div>
                <div class="img-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 12H3M17 8L21 12L17 8ZM21 12L17 16L21 12Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
        
    </header>

    <main class="main">
        {%block content%}
        {%endblock%}
    </main>

    <footer></footer>
</body>

<!-- Record visited URLS inside cookie -->
<script>
var current_url = new URL(window.location.href)

if(Cookies.get('url_visited') == undefined){
    // Set cookie value for first time
    Cookies.set('url_visited', current_url)
}else{
    // Check if the last url in the cookie record is not same as the current page
    // This means that the user has simply refreshed the page or have submited a POST request
    // In this case we need to disregard same last values

    // get all the visited urls and store them in a array
    url_visited = Cookies.get('url_visited').split("|");

    // Check if last url in the array is same as the current url
    if(url_visited.at(-1) != current_url)
        // Set the current url in the cookie if its unique than the last entry
        Cookies.set('url_visited', Cookies.get('url_visited') + '|' + current_url);
}
</script>

<!-- Show and Hide header -->
<script>
    gsap.registerPlugin(ScrollTrigger);

    const show_anim = gsap.from('header', { 
        yPercent: -100,
        paused: true,
        duration: 0.2
    }).progress(1);

    ScrollTrigger.create({
    start: "top top",
    end: "max",
        onUpdate: (self) => {
                self.direction === -1 ? show_anim.play() : show_anim.reverse()
        }
    });
</script>

<script>
    // GSAP ScrollTrigger for h1
    gsap.registerPlugin(ScrollTrigger);

    $('#landing').css('transform-origin', `329px 412px`); // Calculate this automatically

    // Enter into the C - Animation
    gsap.to(".landing ", {
        z: 9999, // Increase the scale to cover the entire screen
        //rotation: -100,
        //ease: "power2.in",
 
        scrollTrigger: {
            trigger: ".landing",
            start: "top top", // Start animation when .content-container top is at the center of the viewport
            end: () => `+=${$(window).height()}`,
            // end: "bottom bottom",
            onEnter: (self) => {
                // $('.landing').height($(window).height())
                gsap.to('.about-us', {opacity: 0, duration: 0.0})
            },
            onEnterBack: (self) => {
                // $('.landing').height($(window).height())
                gsap.to('.about-us', {opacity: 0, duration: 0.0})
            },
            onLeave: (self) => {
                // $('.landing').height(0)
                gsap.to('.about-us', {opacity: 1, duration: 0.0})
            },
            onLeaveBack: (self) => {
                // $('.landing').height(0)
                gsap.to('.about-us', {opacity: 1, duration: 0.0})
            },
            scrub: 2,
            pin: true, // Pin the element during the scroll
            // markers: true,
            pinSpacing: false,
        },
    })


    const about_us_tl = gsap.timeline({
        duration: 2,
        scrollTrigger: {
            trigger: '.journey-wrapper',
            start: `top top`,
            end: ()=> `+=${$(window).height()}`,
            pin: true,
            scrub:1,
            markers: true,
            pinSpacing: false,
            onEnter: (self) => {
                // $('.about-us').height($(window).height())
                // gsap.to('.service-title', {opacity: 0, duration: 0.5})
            },
            onEnterBack: (self) => {
                // $('.about-us').height($(window).height())
                // gsap.to('.service-title', {opacity: 0, duration: 0.5})
            },
            onLeave: (self) => {
                // $('.about-us').height(0)
                // gsap.to('.service-title', {opacity: 1, duration: 0.5})
            },
            onLeaveBack: (self) => {
                // $('.about-us').height(0)
                // gsap.to('.service-title', {opacity: 1, duration: 0.5})
            },
        }
    })
    gsap.set('.about-content-container',{
        transformOrigin: "30% 50%",
    })
    about_us_tl.to('.about-content-container',{
        opacity: 1,
        z: 1000,
        rotationZ: -5,
        duration: 2,
    },0)
    about_us_tl.to('.band-1',{
        opacity: 0,
        duration: 2,
    },0)
    about_us_tl.to('.band-2',{
        opacity: 0,
        duration: 2,
    },0)
    about_us_tl.to('.shape-container',{
        opacity: 0,
        duration: 2,
    },0)
    

    // Service Container
    gsap.to('.services',{
        // opacity: 1,
        scrollTrigger: {
            trigger: ".services",
            start: `top top`,
            pin: '.services',
            markers: true,
            pinSpacing: false,
            onEnter: (self) => {
                gsap.to('.services', {opacity: 1, ease: "none"},0)
            },
            onEnterBack: (self) => {
                gsap.to('.services', {opacity: 1, ease: "none"},0)
            },
            onLeaveBack: (self) => {
                gsap.to('.services', {opacity: 0, ease: "none"},0)
            },
            onLeave: (self) => {
                gsap.to('.services', {opacity: 0, ease: "none"},0)
            },
        }
    })



    // Services Card
    const cards             = document.querySelectorAll(".service-card");
    const totalDuration     = cards.length; // Total duration of the animation
    const singleDuration    = totalDuration / cards.length; // Duration for each card

    const tl = gsap.timeline({
        scrollTrigger: {
            trigger: ".services",
            start: `top +=100px`,
            end: `bottom center`,
            pin: '.services',
            scrub: true,
            markers: true,
            pinSpacing: false,
        },
        duration: totalDuration,
    })

    cards.forEach((card, index) => {
        tl.set(card, {
            opacity: 1,
            duration: 1,
            ease: "linear",
            zIndex: cards.length - index,
            // z: -10000,
        }, singleDuration/1.4 * index)
        tl.to(card, {
            z: 1000,
            duration: singleDuration,
            ease: "none",
            opacity: 0.9,
        }, singleDuration/1.3 * index)
    });
   



</script>


<script>

    // const lenis = new Lenis()

    // function raf(time) {
    //     lenis.raf(time)
    //     requestAnimationFrame(raf)
    // }

    // requestAnimationFrame(raf);

</script>

</html>